<div class="bg-[#2C3E50] text-white text-center py-20">

  <div class="container top-footer mx-auto ">
    <div class="grid md:grid-cols-3">
      <div>
        <h2 class="capitalize text-3xl font-medium mb-3">location</h2>
        <p class="capitalize">2215 john daniel drive</p>
        <p class="capitalize">clark, mo 65243</p>
      </div>
      <div>
        <h2 class="capitalize text-3xl font-medium mb-3">around the web</h2>
        <i class="fa-brands fa-facebook border rounded-full  p-2 mx-2 "></i>
        <i class="fa-brands fa-x-twitter border rounded-full p-2 mx-2 "></i>
        <i class="fa-brands fa-linkedin-in border rounded-full p-2 mx-2 "></i>
        <i class="fa-brands fa-github border rounded-full p-2 mx-2 "></i>
      </div>
      <div>
        <h2 class="capitalize text-3xl font-medium mb-3">About freelancer</h2>
        <p class="capitalize">Freelance is a free to use, licensed Bootstrap theme created by Route

        </p>
      </div>

    </div>
  </div>

</div>
<div class="text-white py-7 bg-[#1A252F] text-center">
  <p>Copyright © Your Website 2021</p>
</div>
