<h1 class="capitalize text-4xl text-center my-10">portfolio component</h1>
<div
  class="container grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 mx-auto relative overflow-hidden gap-7 mb-20"
>
  <section class="card mx-auto w-fit ">
    <div class="h-fit group">
      <div class="relative overflow-hidden rounded-md">
        <img
          class="h-full w-full"
          src="../../assets/images/poert1.png"
          alt=""
        />
        <div
          class="absolute h-full w-full bg-[#19AB8E]/70 flex items-center justify-center -bottom-10 group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300"
        >
          <i class="fa-solid fa-plus text-8xl text-white"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="card mx-auto w-fit ">
    <div class="h-fit group">
      <div class="relative overflow-hidden rounded-md">
        <img
          class="h-full w-full"
          src="../../assets/images/port2.png"
          alt=""
        />
        <div
          class="absolute h-full w-full bg-[#19AB8E]/70 flex items-center justify-center -bottom-10 group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300"
        >
          <i class="fa-solid fa-plus text-8xl text-white"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="card mx-auto w-fit ">
    <div class="h-fit group">
      <div class="relative overflow-hidden rounded-md">
        <img
          class="h-full w-full"
          src="../../assets/images/port3.png"
          alt=""
        />
        <div
          class="absolute h-full w-full bg-[#19AB8E]/70 flex items-center justify-center -bottom-10 group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300"
        >
          <i class="fa-solid fa-plus text-8xl text-white"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="card mx-auto w-fit ">
    <div class="h-fit group">
      <div class="relative overflow-hidden rounded-md">
        <img
          class="h-full w-full"
          src="../../assets/images/poert1.png"
          alt=""
        />
        <div
          class="absolute h-full w-full bg-[#19AB8E]/70 flex items-center justify-center -bottom-10 group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300"
        >
          <i class="fa-solid fa-plus text-8xl text-white"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="card mx-auto w-fit ">
    <div class="h-fit group">
      <div class="relative overflow-hidden rounded-md">
        <img
          class="h-full w-full"
          src="../../assets/images/port2.png"
          alt=""
        />
        <div
          class="absolute h-full w-full bg-[#19AB8E]/70 flex items-center justify-center -bottom-10 group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300"
        >
          <i class="fa-solid fa-plus text-8xl text-white"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="card mx-auto w-fit ">
    <div class="h-fit group">
      <div class="relative overflow-hidden rounded-md">
        <img
          class="h-full w-full"
          src="../../assets/images/port3.png"
          alt=""
        />
        <div
          class="absolute h-full w-full bg-[#19AB8E]/70 flex items-center justify-center -bottom-10 group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300"
        >
          <i class="fa-solid fa-plus text-8xl text-white"></i>
        </div>
      </div>
    </div>
  </section>
  
</div>
